<!DOCTYPE html>
<html lang="en" data-ng-controller="PictureUploaderController as pu">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Starter Template - Materialize</title>

  <base href="/">

  <!-- CSS  -->
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/dropzone.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <data-pp-navbar></data-pp-navbar>


  <section class="container">
    <div class="row">
      <div class="col s6">
        <pp-dropzone data-computer="1"
                     data-set="pu.pc1.currentPictureSet"
                     data-create-new="pu.createNewPictureSet(1)"
                     data-sets="pu.pc1.sets">
        </pp-dropzone>
      </div>
      <div class="col s6">
        <pp-dropzone data-computer="2"
                     data-set="pu.pc2.currentPictureSet"
                     data-create-new="pu.createNewPictureSet(2)"
                     data-sets="pu.pc2.sets">
        </pp-dropzone>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <pp-dropzone data-computer="3"
                     data-set="pu.pc3.currentPictureSet"
                     data-create-new="pu.createNewPictureSet(3)"
                     data-sets="pu.pc3.sets">
        </pp-dropzone>
      </div>
      <div class="col s6">
        <pp-dropzone data-computer="4"
                     data-set="pu.pc4.currentPictureSet"
                     data-create-new="pu.createNewPictureSet(4)"
                     data-sets="pu.pc4.sets">
        </pp-dropzone>
      </div>
    </div>
  </section>


  <data-pp-footer></data-pp-footer>


  <!--  Scripts-->
  <script src="javascripts/jquery-2.1.4.min.js"></script>
  <script src="javascripts/angular.min.js"></script>
	<script src="javascripts/PictureUploader/PictureUploader.js"></script>
	<script src="javascripts/PictureUploader/pu.controller.js"></script>
	<script src="javascripts/PictureUploader/pu.factory.js"></script>
  <script src="javascripts/PictureUploader/pu.service.js"></script>
  <script src="javascripts/PictureUploader/dropzone.directive.js"></script>
  <script src="javascripts/Common/core.js"></script>
  <script src="javascripts/Common/footer.directive.js"></script>
  <script src="javascripts/Common/navbar.directive.js"></script>
  <script src="javascripts/Common/config.provider.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>
  <script src="javascripts/dropzone.min.js"></script>
  <script type="text/javascript">
  </script>

  </body>
</html>
