<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <form class="dropzone" id="computer1"></form>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">PC {{ ::computerID }} - {{ set.text }} <i class="mdi-navigation-more-vert right"></i></span>
    <p>
      <a href="" data-ng-click="createNewPictureSet()">Create new set</a>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">PC {{ ::computerID }} <i class="mdi-navigation-close right"></i></span>
    <ul class="collection">
      <li class="collection-item" data-ng-repeat="set in sets" data-ng-if="set.pictures.length > 0">
        <div>
          {{ set.createdAt | date: 'HH:mm dd-MM-yyyy' }} ( {{ set.pictures.length }} )
          <a href="" data-ng-click="" class="secondary-content">
            <i class="mdi-content-send"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
